@import "tailwindcss";

@font-face {
    font-family: 'Satoshi';
    src: url('./assets/fonts/Satoshi-Medium.otf') format('opentype');
    font-weight: 500; /* or normal, depending on the font */
    font-style: normal;
}

* {
    font-family: 'Satoshi', sans-serif;
}



html {
    scroll-behavior: auto !important;
}

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

